[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
selenium = "*"
tweepy = "*"
pandas = "*"
sklearn = "*"
spacy = "*"
numpy = "*"
wordcloud = "*"
nltk = "*"
seaborn = "*"
jupyter = "*"
textblob = "*"
requests = "*"
bs4 = "*"
html5lib = "*"
yahoo-historical = "*"
arch = "*"
statsmodels = "*"
tensorflow = "*"

[requires]
python_version = "3.7"
